@{
}

@model List<GroupView>

<h2> Below are the scheduled appointments. </h2>

<table class="table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Group ID</td>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Time</td>
            
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.GroupID</td>
                <td>@x.groupinfo.groupName</td>
                <td>@x.groupinfo.groupSize</td>
                <td>@x.groupinfo.email</td>
                <td>@x.groupinfo.phone</td>
                <td>@x.Timeslot.TimeSlot</td>


                <td><a asp-controller="Home" asp-action="Edit" asp-route-groupid="@x.GroupID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-groupid="@x.GroupID">Delete</a></td>
            </tr>
        }

    </tbody>

</table>